# easy_bimeh_landing
#
# This file was automatically generated by APIMATIC
# v2.0 ( https://apimatic.io ).

module EasyBimehLanding
  # FileManagerController
  class FileManagerController < BaseController
    @instance = FileManagerController.new

    class << self
      attr_accessor :instance
    end

    def instance
      self.class.instance
    end

    # آپلود فایل در ایزی بیمه
    # بعد از آپلود، ادرس فایل باید در api های بعدی ارسال شود.
    # @param [String] sub_domain Required parameter: دامنه یا زیر دامنه ی مرکز
    # بیمه
    # @param [String] x_api_key Required parameter: کلید اختصاصی ارتباط با
    # سرور
    # @param [String] file Required parameter: فایل ارسالی
    # @return BaseModelUpload response from the API call
    def upload(sub_domain,
               x_api_key,
               file)
      # Prepare query url.
      _path_url = '/FileManager/Upload'
      _query_builder = Configuration.get_base_uri
      _query_builder << _path_url
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        {
          'subDomain' => sub_domain
        },
        array_serialization: Configuration.array_serialization
      )
      _query_url = APIHelper.clean_url _query_builder
      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'x-api-key' => x_api_key
      }

      # Prepare form parameters.
      _parameters = {
        'file' => file
      }
      _parameters = APIHelper.form_encode_parameters(_parameters)
      # Prepare and execute HttpRequest.
      _request = @http_client.post(
        _query_url,
        headers: _headers,
        parameters: _parameters
      )
      _context = execute_request(_request)
      validate_response(_context)
      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_context.response.raw_body)
      BaseModelUpload.from_hash(decoded)
    end
  end
end
