# easy_bimeh_landing
#
# This file was automatically generated by APIMATIC
# v2.0 ( https://apimatic.io ).

module EasyBimehLanding
  # MotorcycleInsuranceController
  class MotorcycleInsuranceController < BaseController
    @instance = MotorcycleInsuranceController.new

    class << self
      attr_accessor :instance
    end

    def instance
      self.class.instance
    end

    # دریافت لیست برند موتور سیکلت
    # @param [Integer] car_type_group Required parameter: شناسه ی گروه خودرویی،
    # موتور سیکلت =>0
    # @param [String] x_api_key Required parameter: کلید اختصاصی ارتباط با
    # سرور
    # @return CarBrands response from the API call
    def get_car_brands(car_type_group,
                       x_api_key)
      # Prepare query url.
      _path_url = '/ComboData/CarBrands'
      _query_builder = Configuration.get_base_uri
      _query_builder << _path_url
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        {
          'carTypeGroup' => car_type_group
        },
        array_serialization: Configuration.array_serialization
      )
      _query_url = APIHelper.clean_url _query_builder
      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'x-api-key' => x_api_key
      }
      # Prepare and execute HttpRequest.
      _request = @http_client.get(
        _query_url,
        headers: _headers
      )
      _context = execute_request(_request)
      validate_response(_context)
      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_context.response.raw_body)
      CarBrands.from_hash(decoded)
    end

    # دریافت لیست تیپ موتور سیکلت
    # @param [Integer] car_brand_id Required parameter: شناسه ی برند موتور
    # سیکلت
    # @param [String] x_api_key Required parameter: کلید اختصاصی ارتباط با
    # سرور
    # @return CarBrandTips response from the API call
    def get_car_brand_tips(car_brand_id,
                           x_api_key)
      # Prepare query url.
      _path_url = '/ComboData/CarBrandTips'
      _query_builder = Configuration.get_base_uri
      _query_builder << _path_url
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        {
          'carBrandId' => car_brand_id
        },
        array_serialization: Configuration.array_serialization
      )
      _query_url = APIHelper.clean_url _query_builder
      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'x-api-key' => x_api_key
      }
      # Prepare and execute HttpRequest.
      _request = @http_client.get(
        _query_url,
        headers: _headers
      )
      _context = execute_request(_request)
      validate_response(_context)
      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_context.response.raw_body)
      CarBrandTips.from_hash(decoded)
    end

    # آیا این نوع بیمه نامه، طرح بیمه ای دارد؟
    # @param [String] sub_domain Required parameter: دامنه یا زیر دامنه ی مرکز
    # بیمه
    # @param [Integer] insurance_policy_type Required parameter: شناسه ی نوع
    # بیمه نامه
    # @param [String] x_api_key Required parameter: کلید اختصاصی ارتباط با
    # سرور
    # @return HasPlan response from the API call
    def get_has_plan(sub_domain,
                     insurance_policy_type,
                     x_api_key)
      # Prepare query url.
      _path_url = '/InsurancePolicyPlan/HasPlan'
      _query_builder = Configuration.get_base_uri
      _query_builder << _path_url
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        {
          'subDomain' => sub_domain,
          'insurancePolicyType' => insurance_policy_type
        },
        array_serialization: Configuration.array_serialization
      )
      _query_url = APIHelper.clean_url _query_builder
      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'x-api-key' => x_api_key
      }
      # Prepare and execute HttpRequest.
      _request = @http_client.get(
        _query_url,
        headers: _headers
      )
      _context = execute_request(_request)
      validate_response(_context)
      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_context.response.raw_body)
      HasPlan.from_hash(decoded)
    end
  end
end
